/*  */
.priorty-section {
  background-color: #000;
  overflow: hidden;
}
.priorty-folder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
}

.priorty-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}
.priorty-title {
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto;
  color: #fff;
}
.priorty-span {
  color: #98a2b3;
}
.priorty-about {
  color: #fff;
  font-size: 20px;
}

/* list */

.priority-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 10px 96px 10px;
}
.priority-item {
  width: 380px;
  background-color: #ffffff;
  /* height: max-content; */
  /* padding-bottom: 20px; */
  height: 400px;
}

.priority-item > strong {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  padding: 32px 32px 24px 32px;
  display: inline-block;
}
.priority-item > p {
  font-size: 16px;
  font-weight: 400;
  padding: 0 32px 0px 32px;
}

/* scroll */
@media (max-width: 1200px) {
  .priority-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .priority-item {
    width: 380px;
    min-width: 380px;
  }
}
/* scroll end */

@media (max-width: 1025px) {
  .priorty-folder {
    padding-top: 64px;
  }
  .priorty-wrap {
    margin-bottom: 64px;
  }
  .priorty-title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .priorty-wrap {
    margin-bottom: 64px;
  }
  .priority-list {
    margin-bottom: 64px;
  }

  .priorty-about {
    font-size: 18px;
  }
  .priorty-title {
    font-size: 35px;
  }
}

@media (max-width: 450px) {
  .priority-item > strong {
    font-size: 18px;
    padding: 0px 20px 0px 20px;
  }
  .priority-item > p {
    font-size: 16px;
    padding: 0 20px;
  }
}

@media (max-width: 440px) {
  .priorty-wrap {
    margin-bottom: 32px;
  }
  .priority-list {
    margin-bottom: 48px;
  }
  .priorty-about {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .priorty-title {
    font-size: 24px;
  }
}
