.brands-section {
  overflow: hidden;
}
.brands-wrap {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brands-text {
  margin: 96px 0 64px;
  font-size: 60px;
  font-weight: 600;
  color: #06090e;
}

.brands-images-list {
  margin-bottom: 96px;
}
.brands-images-list:hover {
  cursor: pointer;
}
.brands-images:not(:last-child) {
  margin-right: 64px;
}
.brands-images {
  padding-right: 64px;
}

.color {
  color: rgb(61, 129, 112);
}

.orientFinansBank {
  width: 461px;
  height: 64px;
}
.NajotTalim {
  width: 280px;
  height: 64px;
}
.Safia {
  width: 180px;
  height: 64px;
}
.MacBro {
  width: 215px;
  height: 64px;
}
.Thread {
  width: 194px;
  height: 64px;
}
.AnorBank {
  width: 331px;
  height: 64px;
}
.MaxWay {
  max-width: 196px;
  height: 64px;
}

@media (max-width: 880px) {
  .brands-text {
    font-size: 40px;
  }
  /* .brands-images {
    width: 200px;
    height: 50px;
  } */
  /* .mac-Bro {
    display: none;
  }
  .mac-Bro-Res {
    display: block;
  } */
}
@media (max-width: 500px) {
  .brands-text {
    font-size: 25px;
    margin: 32px 0 40px;
  }
  .brands-images-list {
    margin-bottom: 50px;
  }
}
