.discussion-section {
  margin-bottom: 48px;
}
.discussion-folder {
  display: flex;
  gap: 50px;
}
.discussion-folder > img {
  /* width: 720px;
  height: 960px; */

  max-width: 100%;
  height: auto;
}
.discussion-title {
  font-size: 36px;
  font-weight: 600;
  color: #101828;
}

.discussion-text {
  font-size: 20px;
  font-weight: 400;
  color: #475467;
}

/*  */
/* .discussion-form {
  width: 500px;
} */
.discussion-label {
  box-sizing: border-box;
  width: 100%;
}
.discussion-label > span {
  color: #344054;
  font-weight: 600;
  font-size: 14px;
}
.discussion-input {
  width: 95%;

  margin: 10px 0;
  padding: 10px 0 10px 14px;
  box-sizing: border-box;
  font-size: 1.2em;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}
.discussion-input::placeholder {
  color: #667085;
  font-size: 16px;
}
.discussion-form > button {
  width: 95%;
  background-color: #101828;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
}

@media (max-width: 1300px) {
  .discussion-folder > img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1030px) {
  .discussion-folder > img {
    max-width: 50%;
  }
}
/* @media (max-width: 900px) {
  .discussion-folder > img {
    max-width: 450px;
  }
} */
/* @media (max-width: 800px) {
  .discussion-folder > img {
    max-width: 45%;
  }
} */
@media (max-width: 768px) {
  .discussion-folder {
    flex-wrap: wrap;
  }
  .discussion-folder > img {
    max-width: 95%;
  }
  .discussion-wrap {
    max-width: 500px;
    /* margin: 0 auto; */
    padding: 0 20px;
  }
  /* .discussion-folder > img {
    max-width: 450px;
  }
  .discussion-title {
    font-size: 24px;
  }
  .discussion-text {
    font-size: 16px;
  }
  .discussion-input {
    font-size: 14px;
  }
  .discussion-folder {
    flex-direction: column;
  } */
}
