.discussion-section {
  margin-bottom: 48px;
  overflow: hidden;
}
.discussion-folder {
  display: flex;
  gap: 50px;
}
.discussion-folder > img {
  max-width: 100%;
  height: auto;
}
.discussion-wrap {
  margin-top: 55px;
}
.discussion-title {
  font-size: 36px;
  font-weight: 600;
  color: #101828;
}

.discussion-text {
  font-size: 20px;
  font-weight: 400;
  color: #475467;
}

/*  */

.discussion-label {
  box-sizing: border-box;
  width: 100%;
}
.discussion-label > span {
  color: #344054;
  font-weight: 600;
  font-size: 14px;
}
.discussion-input {
  display: block;
  width: 95%;

  margin: 10px 0;
  padding: 10px 0 10px 14px;
  box-sizing: border-box;
  font-size: 1.2em;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}
.discussion-label > textarea {
  height: 135px;
}

.discussion-input::placeholder {
  color: #667085;
  font-size: 16px;
}
.discussion-form > button {
  width: 95%;
  background-color: #101828;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
}

/* responsiv design */
@media (max-width: 1300px) {
  .discussion-folder > img {
    max-width: 55%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .discussion-folder {
    flex-wrap: wrap;
  }
  .discussion-folder > img {
    display: none;
  }
  .discussion-wrap {
    max-width: 500px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (max-width: 470px) {
  .discussion-title {
    font-size: 30px;
  }
  .discussion-text {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .discussion-title {
    font-size: 25px;
  }
  .discussion-text {
    font-size: 15px;
  }
}
